.abw-note {
  display: block !important;
  pointer-events: all !important;

  &.d-none,
  &.hidden,
  &.d-none,
  &.invisible,
  &.dontshow,
  &.noshow {
    display: none !important;
    pointer-events: none !important;
  }
}
